# Map different emails to people in Git.
#
# Copyright (C) 2015-2022 Free Software Foundation, Inc.
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.

Boud Roukema <boud@cosmo.torun.pl>
Elham Saremi <saremi.elham@yahoo.com>
Mohammad Akhlaghi <mohammad@akhlaghi.org>
Carlos Morales-Socorro <cmorsoc@gmail.com>
<mohammad@akhlaghi.org> <akhlaghi@gnu.org>
Lucas MacQuarrie <macquarrielucas@gmail.com>
<mohammad@akhlaghi.org> <makhlaghi@gmail.com>
Pedram Ashofteh-Ardakani <pedramardakani@pm.me>
<saremi_elham@yahoo.com> <saremi.elham@yahoo.com>
<samaneraji@gmail.com> <samaneraji@protonmail.com>
S. Zahra Hosseini Shahisavandi <2hs.zahra@gmail.com>
